.titulo
{
	font-size: 22px;
	color:black;
	background-color: silver;
	height: 40px;
	width: 200px;
	text-align: center;
	margin-left: 500px;
	margin-top: 80px;
	border-radius:5px;
	border-style: outset;
	opacity: 0.8;

}
.pais
{
	color:white;
	text-align: center;
	color:black;
}
.departamento
{
	color:white;
	text-align: center;
	color:black;
}
.temp
{
	color:black;
	margin-left: 100px;
}
.boton
{
	color:white;
}
.ingreso_pais
{
	margin-left: 85px;
	text-align: center;
}
.ingreso_departamento
{
	margin-left: 85px;
	text-align: center;
}
.recuadro
{
	width: 400px;
	height: 300px;
	border-radius: 20px;
	border-style: outset;
	background-color:silver;
	margin-left: 400px;
	margin-top: 10px;
	opacity: 0.8;

}
.temperatura
{
	margin-left: 500px;
}
.boton
{
	margin-left: 160px;
	margin-right: 150px;
	margin-top: 20px;
	color: black;
	border-style: outset;
	cursor: pointer; cursor: hand;
}
.link
{
	background-color:silver; 
	display: inline-block;
	margin-top: 10px;
	border-style: outset;
	margin-left: 173px;
	color: black;
	text-decoration: none;
}
.resultParagraph
{
	margin-left: 400px;
}
